

/*////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/
/*///////////////////////ETIQUETAS GENERALES//////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/
.autenticacion{
	border: 2px solid #0C1021;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

h1,h2,h3,h4,h5,h6, strong, span{
	font-family: 'Roboto',sans-serif;
	font-weight: 300;
	color: #0C1021;
}
strong{
	font-weight: 500;
}
p{
	font-family: 'Roboto',sans-serif;
	font-weight: 300;
	color: #0C1021;
	text-align: justify;
}
th, td{
	color: #0C1021;	
}
.pagination li.active, .picker__weekday-display{
	background: #0C1021;
}
.btn span{
	color: #fff;
}
.btn:hover, .btn-large:hover{
	color: #0C1021;
	background: #fff;
}	
.btn:hover > span{
	color: #0C1021;
}
.pagination{
	text-align: center;
}


hr{

}

.inicioBotones a:hover > div{
	opacity: 0.7;
}
/*////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/
/*///////////////////////CSS DEL MENÚ Y HEADER////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/

.background{
	text-align: center;
	font-size: 2rem;
}

nav{
	background: #0C1021 !important;
	height: 64px;
	line-height: 64px;

}
ul.menu, .menu li ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #0C1021;
    z-index: 3;
    
}
ul.menu{
    list-style: none;
	text-align: justify; 
}

/*

/ÉSTO ES PARA QUE EL MENU SE DISTRIBUYA HORIZONTALMENTE DE FORMA UNIFORME
ul.menu{
	width: 100%;
    height: 4.4rem;
}
ul.menu:after{
    content: ".";
    display: inline-block;
    width: 100%;
    height: 0;
    visibility: hidden;
}*/


.menu li {
    float: none;
    display: inline-block;
    position: relative;
    height: 4rem;
}

.menu li a{
    display: inline-block;
    color: #fff;
    text-align: justify;
    padding: 0px 0.9rem;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Roboto',sans-serif;
	font-size: 1.2rem;
	font-weight: 300;
}

.menu li a:hover, .menu li:hover  {
	color: #D59529;
	background-color: #0C1021;
}

.menu ul li {
    display: inline-block;
    height: auto;
	line-height: 2;
}

.menu li ul {
    display: none;
    position: absolute;
    width: 14vmax;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    left: 0;
	top: 4rem;
}
.menu li ul li{
	width: 100%;
	float: left;
}
.menu li ul > a:hover {display: inline-block;}

.menu li:hover >  ul {
    display: inline-block;
}



.side-nav{
	width: 12rem;
}
.side-nav li ul{
	margin-left: 2rem;
}
.side-nav li{

}
.side-nav li > a{
	height: 3rem;
	padding: 0 1rem;
	line-height: 3rem;
}
nav .button-collapse i{
	font-size: 1.5rem;
}
.brand-logo{
	
}
.brand-logo span{
	
}
.brand-logo i{
	height: auto;
	margin-top: 0.7rem;
	margin-right: 0.5rem !important;
}
nav .nav-wrapper i{
	line-height: 3rem;
}

/*////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/
/*///////////////////////CSS DE FOOTER////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/


footer{
	background: #0C1021 !important;
	font-family: 'Roboto',sans-serif;
	font-weight: 300;
}
.footer-copyright a:hover{
	color: #D59529 !important;
	font-family: 'Roboto',sans-serif;
	font-weight: 300;
}

ul.menuFooter{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #0C1021;
    z-index: 3;
    
}
ul.menuFooter{
    list-style: none;
	text-align: justify; 
}
ul.menuFooter{
	width: 100%;
    height: 2.4rem;
}
ul.menuFooter:after{
    content: ".";
    display: inline-block;
    width: 100%;
    height: 0;
    visibility: hidden;
}


.menuFooter li {
    float: none;
    display: inline-block;
    position: relative;
    height: 2.4rem;
}

.menuFooter li a{
    display: inline-block;
    color: #fff;
    text-align: justify;
    padding: 0px 0.9rem;
    text-decoration: none;
    text-transform: capitalize;
	font-size: 1.2rem;
	font-family: 'Roboto',sans-serif;
	font-weight: 300;
}

.menuFooter li a:hover, .menuFooter li:hover  {
	color: #D59529;
	background-color: #0C1021;
}

.memenuFooternu ul li {
    display: inline-block;
    height: auto;
	line-height: 2;
}
